.errorMessage,
.successMessage,
.noticeMessage,
.warningMessage {
  margin: 10px 0px;
  padding: 8px;
}
.errorMessage {
  color: #555555;
  background-color: #ffecec;
}
.successMessage {
  color: #555555;
  background-color: #e9ffd9;
}
.noticeMessage {
  color: #555555;
  background-color: #e3f7fc;
}
.warningMessage {
  color: #555555;
  background-color: #fff8c4;
}
